# API keys and sensitive configs
.env

# Python cache
__pycache__/
*.py[cod]

# Machine learning models
*.pkl

# Raw or large data files
*.csv
!data/processed/annual_state_avg_temp_1955_2025.csv

# Mac system files
.DS_Store

# Jupyter Notebook checkpoints
*.ipynb_checkpoints/
